@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
  --primary: #303f9fcc;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --bg: white;
  --dmbg: #151515;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
  background-color: var(--bg);
}

.dark {
  background-color: var(--dmbg);
  color: rgb(214, 213, 213);
}

.light {
  background-color: var(--bg);
  color: #151515;
}

.theme-logout {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.signout-btn {
  height: max-content;
  padding: 0.5rem;
  font-size: 16px;
  border: 1px solid #4242421c;
  background-color: transparent;
  color: var(--primary);
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.signout-btn:hover {
  color: white;
  background-color: var(--primary);
}

.theme-btn {
  margin: 0.5rem;
  cursor: pointer;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.title h1 {
  color: var(--primary);
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  margin-top: 60px;
  font-size: 2rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

label {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
  position: relative;
  cursor: pointer;
}

.add-btn-holder {
  margin: 0;
  padding: 0;
}

.add-btn {
  font-size: xx-large;
}

label:hover {
  background: var(--primary);
  color: white;
}

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
}

/* image grid styles */
.image-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.image-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}

.image-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.delete-img-btn {
  padding: 5px !important;
  position: absolute !important;
  color: crimson !important;
  top: 0.1rem;
  right: 0.1rem;
}

.delete-img-btn:hover {
  color: red !important;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  z-index: 99 !important;
}

/* signin */

.signin-container {
  margin: auto;
  max-width: 100vh;
}

.signin-page {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 50vh;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 7rem;
}

.signin-page h1 {
  color: #4E4E4E;
}

.signin-page h4 {
  color: #4E4E4E;
  line-height: 1.6;
  font-size: 16px;
}

.signin-btn {
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
  border: none;
  color: rgba(0, 0, 255, 0.589);
  border: 1px solid #4242421c;
  border-radius: 5px;
  cursor: pointer;
}

.brand-logo {
  margin-top: 1.5rem;
  width: 100px;
  height: 100px;
}

.google-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
}

@media only screen and (max-width: 800px) {

  .image-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backdrop img {
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin: 10px auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    border: 3px solid white;
    z-index: 99 !important;
  }

  .signin-container {
    margin: auto;
    margin-top: 6rem;
    width: 100%;
  }

  .signin-page h4 {
    font-size: 15px;
  }

  .signin-page {
    width: 80%;
  }

}